body {
    font-family: 'Playfair Display';
    font-weight: 400;
    color: #626262;
}

ul {
    list-style: none;
    /* display: flex; */
}

li{
    margin-right: 100px;
}

li:not:last-child{
    margin-right: 100px;
}

.link-header {
    color: #7D7D7D;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.4;
    
}

.link-header:hover {
    color:  #03A9F4;
}

.link-header:focus {
    color:  #03A9F4;
}

.card-image {
    width: 420px;
    height: 280px;
}

.card-name {
    font-family: 'Ubuntu';
    font-weight: 300;
font-size: 14px;
line-height: 1.1;
color: #B4AD9E;
}

.card-title {
    line-height: 1.3;
    font-size: 30px;
    color: #626262;
}

.cadr-description {
    font-size: 14px;
    line-height: 1.4;
}

.btn {
    font-size: 14px;
    line-height: 1.4;
    background-color: #fff;
    padding: 20px 48px;
    border-width: 1px;
}
